* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav bar */
nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    transform: translatex(-50%);
    left: 50%;
    color: white;
    z-index: 2;
}

.nav-content {
    display: flex;
    gap: 15px;
    font-size: 20px;
    padding-top: 5px;

}

.logo {
    font-family: 'Franklin Gothic Medium';
    background-image: linear-gradient(blue, rgb(16, 225, 252));
    background-clip: text;
    color: transparent
}
.nav-content button {
    background-color: rgb(28, 18, 208);
    color: white;
    border: none;
    font-size: 10px;
    padding: 8px;
    border-radius: 5px;
    transition: all 1s;
}
.nav-content a {
    position: relative;
    text-decoration: none;
    color: white;
}

.nav-content a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: all 2s;
    z-index: -1;
}


input:checked~.nav-content {
    left: 0px
}

input {
    display: none;
}

label {
    display: none;
}

.nav-content a:hover::after
 {
    width: 100%;
}

.nav-content button:hover {
    background-color: rgb(18, 112, 16);
    color: white;
 
}

/* -----------------------------home page----------------------------*/
.homepage {

    height: 100vh;
    background-image: url("home1.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    text-shadow: 3px 2px rgb(1, 15, 17);
    font-family: cursive;
    animation-name: home;
    position: relative;
    animation-duration: 1s;

}
@keyframes home{
    from{top:-200px}
    to{top:0}
}

.homepage button{
    padding: 10px;

    border: none;
  
    background-image: linear-gradient(rgb(24, 102, 227),navy);
    color:white;
    width:15%;
    transition: all 1s;
}
 .homepage button:hover{
   transform: scale(1.1);
  border-radius: 20px;
  background-image: linear-gradient(darkblue,rgb(6, 6, 51));
  


}




/* ----------------------about  page------------------------*/
.aboutpage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: linear-gradient(lightcyan,wheat);
}

.aboutimg {
    width:500px;
   
}





.aboutcontent {
    width: 450px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    transition: all 1s;
animation: left forwards;
animation-timeline: view();
animation-range-end: 400px;
transform: translatey(300px);
opacity: 0;
}
@keyframes left {
    to{
        transform: translatey(0);
        opacity: 1;
    }
}


.aboutcontent button {
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
    width: 20%;
    transition: all 1s;
}

.aboutcontent button:hover {
    background-color: green;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 4px 2px 2px black;
}

.aboutcontent>h1 {
    font-family: 'Franklin Gothic Medium';
    background-image: linear-gradient(blue, rgb(16, 225, 252));
    background-clip: text;
    color: transparent
}

/* ---------------------------------room page -----------------------------*/

.roompage {
    min-height: 100vh;
    background-image: url("rooms.webp");
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;

}

.room {
    display: flex;
    justify-content: space-evenly;
}

 .box {
    width: 300px;
    height: 340px;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 40px 0px 40px 0px; 
    animation-name: room;
    animation-timeline: view();
    animation-range-end: 400px;
    animation-fill-mode: forwards;
 
}
@keyframes room {
    from{transform: scale(0.5);}
    to{
        transform: scale(1);
    }
}





.roompage>h1 {
    font-family: 'Franklin Gothic Medium';
    background-image: linear-gradient(yellow, orange);
    background-clip: text;
    color: transparent;
    padding-top: 5px;
}

.roompage>h4 {
    color: white
}

.roomimg1 {
    height: 55%;
    background-image: url("room1.jpg");
    background-size: cover;
    border-radius: 40px 0px 0px 0px;
}

.roomimg2 {
    height: 55%;
    background-image: url("room2.jpg");
    background-size: cover;
    border-radius: 40px 0px 0px 0px;
}

.roomimg3 {
    height: 55%;
    background-image: url("room3.jpg");
    background-size: cover;
    border-radius: 40px 0px 0px 0px;
}

.roomcontent {
    height: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.roomcontent span {
    color: green
}

.roomcontent>p {
    color: grey
}

.roomcontent button {
    width: 30%;
    border: none;
    background-color: navy;
    padding: 8px;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    transition: all 1s;
}


.box button:hover{
    background-color: green;
}


/* ----------------------------service--------------------- */

.servicepage {
    min-height: 100vh;
    background-image: linear-gradient(wheat,lightcyan);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
   

}

.serviceimg {
    width: 50%;
    height: 350px;
    background-image: url("service.jpg");
    background-size: cover;
  
    border-radius: 0px 50px 0px 50px;
    position: relative;
    box-shadow: 10px 10px 10px grey;    
    animation: img forwards;
    animation-timeline: view();
    animation-range-end: 400px;
    transform: translatey(300px);
    opacity: 0;
 
    }
    @keyframes img {
        to{
            transform: translatey(0);
            opacity: 1;
        }
    }



.servicecontent {
    width: 40%;
    min-height: 360px;
    /* background-color:beige; */
    padding: 10px;

}

.servicecontent>h1 {
    font-family: 'Franklin Gothic Medium';
    background-image: linear-gradient(blue, rgb(16, 225, 252));
    background-clip: text;
    color: transparent;
    padding: 10px 0px 30px 0px;


}

.icon {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.icon .a,
.b,
.c,
.d,
.e {
    background-color:lightyellow;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}

.a {
    color: rgb(18, 59, 76)
}

.b {
    color: darkorange
}

.c {
    color: green
}

.d {
    color: blueviolet;
}

.e {
    color: red
}

.hiddenservice {
    width: 45%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 1;
    right: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s;


}

.hiddenservice h2 {
    color: green;
    font-size: 30px;
}

.hiddenservice p {
    color: blue;
    font-size: 20px;
}

.hiddenservice:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px white;
}

.icon>h3:hover {
    color: red;
    font-size: 20px;
}

/* contact page */
.contactpage {
    min-height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2016/10/22/18/52/beach-1761410_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 20px
}



.contactpage h1 {
    background-image: linear-gradient(blue, rgb(16, 225, 252));
    background-clip: text;
    color: transparent;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;

}

.contactpage h3 {
    color: black;
    text-align: center;

}

.contact {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    transform: translateX(-400px);
    transition: all 1s;
animation: boxes forwards;
animation-timeline: view();
animation-range-end: 400px;
transform: translateX(-200px);
opacity: 0;
}
@keyframes boxes {
    to{
        transform: translateX(0);
        opacity: 1;
    }
}



.contacticon {
    width: 30%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: 20px;
}

.info {
    width: 100%;
    display: flex;
    gap: 20px
}

.info p {
    font-size: 18px;
    color: lightcyan
}

.info>div {
    font-size: 25px;
    background-image: linear-gradient(yellow, green);
    background-clip: text;
    color: transparent;

}

.icons {

    bottom: 20px;
    letter-spacing: 10px;
    font-size: 30px;
    color: white;
}

.one {
    background-image: linear-gradient(rgb(59, 108, 224), rgb(47, 23, 203));
    background-clip: text;
    color: transparent
}

.two {
    background-image: linear-gradient(rgb(119, 225, 239), rgb(7, 137, 180));
    background-clip: text;
    color: transparent
}

.three {
    background-image: linear-gradient(rgb(240, 52, 105), rgb(230, 83, 4));
    background-clip: text;
    color: transparent
}

.four {
    background-image: linear-gradient(rgb(50, 12, 238), rgb(52, 209, 236));
    background-clip: text;
    color: transparent
}


form {
    width: 35%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;


}




.map {
    width: 30%;
    height: 300px;

}

.first,
.last {
    display: inline-block;
}

.first {
    padding-bottom: 5px;
}

.last {
    width: 100%;
    padding: 5px;
    outline: none;
}


form button {
    border: none;
    border-radius: 4px;
    width: 20%;
    background-color: green;
    padding: 8px;
    color: white
}

form button:hover {
    background-color: red;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 2px 2px 2px white;
}





.info>p:hover{color:black}













/*=========================media query ==============================*/

/* mobile screen */
@media only screen and (max-width:600px) {
    .nav-content {
        background-image: url("https://cdn.pixabay.com/photo/2016/11/18/18/39/beach-1836335_1280.jpg");
        background-size: cover;

        position: fixed;
        top: 47px;
        width: 100%;
        left: 120%;
        flex-direction: column;
        min-height: 50vh;
        align-items: center;
        

    }

    .nav-content a {
        color: black
    }



    .nav-content button {
        padding: 15px;
    }

    label {
        display: block;
    }

    .homepage {
        font-size: 10px;
        width:100%;

    }
    .homepage button{width:30%;
    font-size: 10px;
    margin-top: 10px;}

    .aboutpage {
        flex-direction: column;
        width: 100%;
   
       
        gap: 20px;
        padding: 10px;
    }

    .aboutimg {
        width: 100%;

    }



    .aboutcontent {
        width: 100%;
        font-size: 15px;
    }

    .aboutcontent button {
        width: 50%
    }


    .roompage {
        width: 100%;
      
        
    }

    .room {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ;
    }

    .room .box {
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }


    .servicepage {
        flex-direction: column;
      
        font-size: 15px;
        position: relative;
        gap: 30px;
    }

    .serviceimg {
        width: 100%;
        height: 300px;

    }

    .servicecontent {
        width: 100%;
       

    }

    .icon>h3 {
        font-size: 20px
    }


    .hiddenservice {
        position: absolute;
        bottom: 50px;
        left: 20px;
        width: 89%;
        gap: 5px;
        padding: 0;

    }

    .hiddenservice h2,
    p {
        font-size: 20px;
    }

  

    .contact {
        flex-direction: column;
    }

    .map,
    .contacticon,
    form {
        width: 100%
    }

   .map{padding-bottom: 10px;}



}

/* tablet screen */
@media only screen and (min-width:600px) and (max-width:900px) {

    label {
        display: none;
    }

    .homepage {
        font-size: 15px;
    }

    .aboutpage {
        padding: 30px;
    
        font-size:15px;
    }

    .aboutcontent {
        width: 300px;
    }

    .aboutimg {
        width: 380px;
    }

    .aboutcontent button {
        width: 50%
    }


  

    .room {
        gap: 10px;
        flex-direction: column;
    }

    .room .box {
        flex-direction: row;
        width: 100%;
    }

    .room .box2 {
        flex-direction: row-reverse;
    }

    .roomimg2 {
        border-radius: 0px 0px 40px 0px;
    }

    .roomimg1,
    .roomimg2,
    .roomimg3 {
        width: 50%;
        height: 100%;
    }

    .roomcontent {
        width: 50%;
        height: 100%;
        border-radius: 20px 0px 20px 0px;
        font-size: 22px;
        padding-left: 20px;
        justify-content: center;
    }

    .roomcontent button {
        width: 35%;
        font-size: 15px;
    }

    .servicecontent {
        width: 40%;
       
    }

    .servicepage {
        position: relative;
       
    }

    .serviceimg {
        width: 60%;
        height: 400px;

    }

    .hiddenservice {
        width: 50%;
        position: absolute;
        right: 25px
    }

    /* .contactpage {
        min-height: 260vh;
    } */

    .contacticon,
    .map,
    form {
        margin: auto;
    }

    .contact {
        flex-direction: column;
    }

    .map,
    .contacticon,
    form {
        width: 80%
    }

}
